### IntelliJ IDEA ###
.idea/
*.iml
out/
!src/aulas/main/**/out/
!src/aulas/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!src/aulas/main/**/bin/
!src/aulas/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Compilação Java ###
*.class
target/
build/

### Sistema Operacional ###
.DS_Store
Thumbs.db
